<!DOCTYPE html>
<html lang="en">
<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }

    #weather {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
</style>
<head>
    <meta charset="utf-8">
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">#}
    <title>{{ title }}</title>
</head>
<body>
{#<div class="container-md">#}
{#    <div class="col justify-content-md-center">#}
{##}
{#        <div class="row justify-content-md-center">#}
{#            <p class="text-center h1">Page météo du cours NOCO</p>#}
{#        </div>#}
{##}
{#        <div class="row justify-content-md-center">#}
{#            <form method="POST" role="form">#}
{#                <label for="inputCity1" class="form-label">Entrez un nom de ville pour obtenir sa météo:</label>#}
{#                <input class="form-control" id="inputCity1" name="input_city" placeholder="Nom de ville" aria-describedby="helpCity">#}
{#                <div id="helpCity" class="form-text">Le nom de la ville doit-être en Français</div>#}
{#                <input type="submit" class="btn btn-primary" value="Rechercher"></input>#}
{#            </form>#}
{##}
{#        </div>#}
{##}
{#        {% if data %}#}
{#        <div class="row justify-content-md-center">#}
{#            Météo pour: {{ data["city"]["name"]}}, {{ data["city"]["country"]}}#}
{#        </div>#}
{#        {% endif %}#}
{##}
{#        <div class="row justify-content-md-center">#}
{#            {% if data %}#}
                <table>
                    <tr>
                        <th>Heure</th>
                        <th>Température</th>
                        <th>Humidité</th>
                        <th>Temps</th>
                        <th>vent</th>
                    </tr>
                    {% for item in data["list"] %}
                        <tr>
                            <td>{{ item["dt_txt"] }}</td>
                            <td>{{ item["main"]["temp"] }}°C</td>
                            <td>{{ item["main"]["humidity"] }}%</td>
                            <td><div id="weather"><img src="http://openweathermap.org/img/wn/{{ item["weather"][0]["icon"] }}@2x.png"></img> {{ item["weather"][0]["main"] }}</div></td>
                            <td>{{ '%.2f' % (item["wind"]["speed"]*3.6) }} km/h ({{ item["wind"]["deg"] }} deg)</td>
                        </tr>
                    {% endfor %}
                </table>
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>#}
</body>
</html>